Package: ca.varju.remindmelater
Name: RemindMeLater
Depends: mobilesubstrate, preferenceloader, firmware (>= 3.1)
Version: 1.2.4
Architecture: iphoneos-arm
Description: Adds a snooze button to all Calendar alerts.
Maintainer: Alex Varju [alex@varju.ca]
Author: varju
Section: Tweaks
